*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: white;
}
.background{
    height: 100vh;
    padding-top: 1px;
    background-color: black;
}
.title{
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
}
.display{
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 400px;
}
.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
}

.playerX{
    color: green;
}


.playerO{
    color: blue;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    color: white;
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    margin-left: 47.5%;
    margin-top: 1.5em;
    cursor: pointer;
    background-color: #ff3860;
}